[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/futu"]
	path = themes/futu
	url = git@github.com:aruku7230/futu.git
